Client/Client/Web References/server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7187/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7187/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7187/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
      <xsd:import schemaLocation="http://localhost:7187/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SearchByDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByDepartment" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByname_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByname" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByname_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBynameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:registerStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_registerStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:registerTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_registerTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValid" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resetpaswrd_InputMessage">
    <wsdl:part name="parameters" element="tns:resetpaswrd" />
  </wsdl:message>
  <wsdl:message name="IService1_resetpaswrd_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetpaswrdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidStu_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidStu" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidStu_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidStuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByName" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchBySection_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBySection" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchBySection_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBySectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAll" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_showall_InputMessage">
    <wsdl:part name="parameters" element="tns:showall" />
  </wsdl:message>
  <wsdl:message name="IService1_showall_OutputMessage">
    <wsdl:part name="parameters" element="tns:showallResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:registerSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_registerSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_unregisterSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:unregisterSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_unregisterSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:unregisterSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_getSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedInStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:loggedInStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedInStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:loggedInStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedInStudentSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:loggedInStudentSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedInStudentSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:loggedInStudentSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registered_students_InputMessage">
    <wsdl:part name="parameters" element="tns:registered_students" />
  </wsdl:message>
  <wsdl:message name="IService1_registered_students_OutputMessage">
    <wsdl:part name="parameters" element="tns:registered_studentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_registered_students_InputMessage">
    <wsdl:part name="parameters" element="tns:get_registered_students" />
  </wsdl:message>
  <wsdl:message name="IService1_get_registered_students_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_registered_studentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLoggedInTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:getLoggedInTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_getLoggedInTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLoggedInTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_result_InputMessage">
    <wsdl:part name="parameters" element="tns:get_result" />
  </wsdl:message>
  <wsdl:message name="IService1_get_result_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_resultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_result_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_result" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_result_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_resultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_result_InputMessage">
    <wsdl:part name="parameters" element="tns:update_result" />
  </wsdl:message>
  <wsdl:message name="IService1_update_result_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_resultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SearchByDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchByDepartment" message="tns:IService1_SearchByDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchByDepartmentResponse" message="tns:IService1_SearchByDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByname">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchByname" message="tns:IService1_SearchByname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchBynameResponse" message="tns:IService1_SearchByname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerStudent" message="tns:IService1_registerStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerStudentResponse" message="tns:IService1_registerStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerTeacher" message="tns:IService1_registerTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerTeacherResponse" message="tns:IService1_registerTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsValid" message="tns:IService1_IsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsValidResponse" message="tns:IService1_IsValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetpaswrd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resetpaswrd" message="tns:IService1_resetpaswrd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetpaswrdResponse" message="tns:IService1_resetpaswrd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsValidTeacher" message="tns:IService1_IsValidTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsValidTeacherResponse" message="tns:IService1_IsValidTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidStu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsValidStu" message="tns:IService1_IsValidStu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsValidStuResponse" message="tns:IService1_IsValidStu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchByName" message="tns:IService1_SearchByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchByNameResponse" message="tns:IService1_SearchByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBySection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchBySection" message="tns:IService1_SearchBySection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchBySectionResponse" message="tns:IService1_SearchBySection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAll" message="tns:IService1_ShowAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllResponse" message="tns:IService1_ShowAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showall">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showall" message="tns:IService1_showall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showallResponse" message="tns:IService1_showall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerSubject" message="tns:IService1_registerSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerSubjectResponse" message="tns:IService1_registerSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="unregisterSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/unregisterSubject" message="tns:IService1_unregisterSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/unregisterSubjectResponse" message="tns:IService1_unregisterSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSubjects" message="tns:IService1_getSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSubjectsResponse" message="tns:IService1_getSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loggedInStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loggedInStudent" message="tns:IService1_loggedInStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loggedInStudentResponse" message="tns:IService1_loggedInStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loggedInStudentSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loggedInStudentSubject" message="tns:IService1_loggedInStudentSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loggedInStudentSubjectResponse" message="tns:IService1_loggedInStudentSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registered_students">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registered_students" message="tns:IService1_registered_students_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registered_studentsResponse" message="tns:IService1_registered_students_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_registered_students">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_registered_students" message="tns:IService1_get_registered_students_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_registered_studentsResponse" message="tns:IService1_get_registered_students_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLoggedInTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLoggedInTeacher" message="tns:IService1_getLoggedInTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLoggedInTeacherResponse" message="tns:IService1_getLoggedInTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_result">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_result" message="tns:IService1_get_result_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_resultResponse" message="tns:IService1_get_result_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_result">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Add_result" message="tns:IService1_Add_result_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Add_resultResponse" message="tns:IService1_Add_result_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_result">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_result" message="tns:IService1_update_result_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_resultResponse" message="tns:IService1_update_result_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchByDepartment">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchByDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByname">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchByname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/registerStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/registerTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValid">
      <soap:operation soapAction="http://tempuri.org/IService1/IsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetpaswrd">
      <soap:operation soapAction="http://tempuri.org/IService1/resetpaswrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/IsValidTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidStu">
      <soap:operation soapAction="http://tempuri.org/IService1/IsValidStu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBySection">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchBySection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAll">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showall">
      <soap:operation soapAction="http://tempuri.org/IService1/showall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/registerSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unregisterSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/unregisterSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/getSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loggedInStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/loggedInStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loggedInStudentSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/loggedInStudentSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registered_students">
      <soap:operation soapAction="http://tempuri.org/IService1/registered_students" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_registered_students">
      <soap:operation soapAction="http://tempuri.org/IService1/get_registered_students" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoggedInTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/getLoggedInTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_result">
      <soap:operation soapAction="http://tempuri.org/IService1/get_result" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_result">
      <soap:operation soapAction="http://tempuri.org/IService1/Add_result" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_result">
      <soap:operation soapAction="http://tempuri.org/IService1/update_result" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:7187/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>